/* Прилагаме го на контейнера, който обгръща всички секции (в App.tsx)
.scroll-container {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory; /* Принуждава скрола да скача на секции */
/* scroll-behavior: smooth; */
/* scroll-padding-top: 80px; */
/* } */

/* Прилагаме го на всяка основна секция (Hero, Products, Logistics...) */
/* section {
	scroll-snap-align: start; /* Секцията винаги започва от горния край на екрана */
/* scroll-snap-stop: always; Пречи на потребителя да прескочи 3 секции наведнъж */
/* } */
